@import url(http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto)
@import url("https://fonts.googleapis.com/icon?family=Material+Icons")

.spinner {
  height: 5em;
  width: 5em;
  margin: auto auto;
  position: relative;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 1em solid rgba(63, 81, 181, 0.15);
  border-right: 1em solid rgba(63, 81, 181, 0.15);
  border-bottom: 1em solid rgba(63, 81, 181, 0.15);
  border-top: 1em solid rgba(63, 81, 181, 0.8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}